@* Sets page title by using ViewData *@
@{
    ViewData["title"] = "Transitioning from student to web developer at Springtimesoft";
}

<div class="header-content">
    @* Rendering te page title *@
    <h2>@ViewData["title"]</h2>
    <h3>Bellow follows a blog post I wrote after completing my finax exam at Springtime soft.</h3>
</div>

<div class="main-content">
    <div class="blog-post">
        <h4>
            Transitioning from student to web developer at Springtimesoft
        </h4>
        <p>
            After having studied web development for two years, the time had come for me to complete a
            10 week placement at a web development company as part of my final exam. I sent out numerous emails
            to web development companies all over New Zealand and was lucky enough to hear back from Perrin at
            Springtimesoft with an offer to carry out my final exam with them. This blog post will hopefully
            provide a glimpse into the challenges, little victories and lessons learned while taking the big
            step from student to web developer in the hope to encourage others into web and software development
            careers.
        </p>
        <h5>The first shaky steps</h5>
        <p>
            My time as an intern at Springtimesoft has been a whirlwind of learning and growth. I have absorbed new
            knowledge like a sponge and pushed my mental ability further than I thought was possible. From getting
            to know the different tools used and setting up new projects to diving into files and code I’ve never
            encountered before it has been an adventure to say the least. During my time at university, I was fully
            in charge, crafting projects all by myself. It was like being the master of my own domain, knowing every
            nook and cranny of my work environment. Stepping into the real world, I quickly realised there were a lot
            of new things to adapt to. I had to learn to navigate through bigger projects than I had ever worked on
            before and on top of it all created by someone else. I frequently found myself disoriented in files and
            code until I finally started to grasp the underlying structure of the projects.
        </p>
        <h5>Working in a team as opposed to alone</h5>
        <p>
            Working in a team as opposed to working alone has been an absolute blast and collaborating with the awesome
            team at Springtimesoft has been a game changer. Engaging in problem solving, discussing possible solutions
            and simply just listening to discussions has been like opening a treasure trove of knowledge. It has been a
            great way for me to use every bit of my knowledge and I have learned a lot just by listening. During the
            past
            two years of studying from home I often found myself stuck on a problem with no one around to ask for help.
            In situations like that I quickly lost my motivation and the will to keep going. After joining the team at
            Springtimesoft I felt incredibly fortunate to have a whole team at my aid whenever I needed a push in the
            right
            direction. Not only has this been helpful when getting stuck but to have someone checking in every now and
            then
            just to see how things are going has been a great motivator.
        </p>
        <h5>Challenges</h5>
        <p>
            One of the biggest challenges I have faced is letting go of my decision-making. In the past, I made the
            calls
            on everything from layout, fonts, and colours, to what functionality I wanted to implement. Here at
            Springtimesoft,
            the styles are set by Dom, the designer, and the functionality needed is determined by user testing,
            research and
            business requirements. Even though I frequently had to remind myself not to take matters into my own hands,
            I have
            grown to appreciate looking at problems through other people’s eyes. It has broadened my perspective and I
            now see
            a wider range of solutions to different problems than I did before.<br />
            As part of my final exam I was required to write a report on the work I carried out at Springtimesoft
            throughout my
            internship. Writing this report was not all laughs to say the least. After a long day of learning and
            coding, the last
            thing I wanted to do was to sit down and document every detail of the work I had done. I would have rather
            spent a few
            more hours coding away than putting words about it on a piece of paper. However, as the report started to
            take shape, it
            became oddly satisfying to see my journey described. It turned into concrete evidence of the work I’ve put
            in and the
            accomplishments I’ve achieved.
        </p>
        <h5>Conclusion</h5>
        <p>In just two months, my journey going from student to web developer has been filled with invaluable
            experiences. Working
            for Springtimesoft has not only accelerated my technical skills but also provided me with a deeper
            understanding of the
            web development industry. As technology progresses there are always new things to learn as a web developer.
            Being a newcomer
            within the field I have not only tried to stay up-to-date with new technologies but have also had to learn a
            lot of the
            fundamental concepts within web development. When the mountain of new knowledge has felt too high to climb
            it has been crucial
            for me to stop and reflect on the things I have already learned. Doing so has given me perspective and
            motivation to keep going
            and to embrace every opportunity to learn new things. Web development, like many other things, is all about
            problem solving.
            As stubborn as I am, and as much as I would love to solve problems on my own, it has become important to
            learn when enough time
            has been invested on a problem without progress and then asking for help. Not only have I received answers
            when asking questions,
            but also explanations of how things work and why things are done in certain ways which is essential when
            facing similar problems
            in the future. Apart from all the learning and personal growth during my placement at Springtimesoft the
            absolute best part of this
            journey has been becoming a part of the Springtimesoft team. They have all been beyond supportive and this
            experience would not have
            been the same without them.
        </p>
    </div>
    <a class="link" target="_blank"
        href="https://springtimesoft.co.nz/blog/transitioning-from-student-to-web-developer/">Link to the
        real post</a>
</div>
